/* Write your CSS here */
.each-appointment-item {
  width: 380px;
  border-radius: 15px;
  border: 1px #b5b7c4 solid;
  padding: 10px;
  margin-bottom: 20px;
}

.each-appointment-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-font {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #171f46;
}

.date-font {
  color: #b5b7c4;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 3px;
}

.button-star {
  background-color: transparent;
  border-width: 0px;
}
